<h1>About us..!!</h1>

In this page you can create a login and add your own personal 
friends circle along with their phone number. It allows you to sign up 
and create an account and your your personalized friends diary. 